/node_modules/*
/artifacts/*
/cache/*
.deps/remix-tests/remix_accounts.sol
.deps/remix-tests/remix_tests.sol
artifacts/@openzeppelin/contracts/access/AccessControl.sol/AccessControl.dbg.json
artifacts/@openzeppelin/contracts/access/IAccessControl.sol/IAccessControl.dbg.json
artifacts/@openzeppelin/contracts/access/Ownable.sol/Ownable.dbg.json
artifacts/@openzeppelin/contracts/utils/Context.sol/Context.dbg.json
artifacts/@openzeppelin/contracts/utils/introspection/ERC165.sol/ERC165.dbg.json
artifacts/@openzeppelin/contracts/utils/introspection/IERC165.sol/IERC165.dbg.json
artifacts/build-info/b5ca06550f2ef19f7860e0cf68ccb5d1.json
artifacts/contracts/AuditRegistry.sol/AuditRegistry.dbg.json
artifacts/contracts/AuditRegistry.sol/AuditRegistry.json
cache/solidity-files-cache.json
typechain-types/factories/contracts/AuditRegistry__factory.ts
typechain-types/factories/@openzeppelin/contracts/utils/introspection/IERC165__factory.ts
typechain-types/factories/@openzeppelin/contracts/utils/introspection/ERC165__factory.ts
typechain-types/factories/@openzeppelin/contracts/access/Ownable__factory.ts
typechain-types/factories/@openzeppelin/contracts/access/IAccessControl__factory.ts
typechain-types/factories/@openzeppelin/contracts/access/AccessControl__factory.ts
typechain-types/@openzeppelin/contracts/utils/introspection/IERC165.ts
typechain-types/@openzeppelin/contracts/utils/introspection/ERC165.ts
typechain-types/@openzeppelin/contracts/access/Ownable.ts
typechain-types/@openzeppelin/contracts/access/IAccessControl.ts
typechain-types/@openzeppelin/contracts/access/AccessControl.ts
